body{
    padding-top: 80px;
    background-color: rgb(239, 239, 239);
}
.nav-item a:visited,.nav-item a:link,.navbar-brand{
    color: rgb(75, 64, 64);
    font-weight: 600;
}
.nav-item a:hover,.navbar-brand:hover{
    color: black;
    font-weight: 800;
    text-shadow: 1px 2px 2px gainsboro;
    border-bottom: 1px solid pink;
}


.row{
    margin-top: 8px;
    min-height: 100px;
}

.problemjump{
    padding: 15px;
    height: 150px;
}

.problemjump input {
    max-width: 95%;
    border:1px solid #0e90d2;
    margin-bottom: 2px;
}

.navtopc{
    background: #e3f2fd;
}